<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Списко опросов</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<
<div class="container">
    <form class="form-inline my-2 my-lg-0" align="left" th:action="@{/logout}" method="post">
        <button class="btn btn-outline-success my-2 my-sm-0">Выйти</button>
    </form>
<form action="#" class="form-group col-md-10" align="center" th:action="@{/test/userAnswer}" th:object="${answersToQuestions}"
      method="post">
    <fieldset>
        <h1>Список вопросов(<span th:text="${answersToQuestions.getAnswersToDao().size()}">0</span>)</h1>
        <table border="1" class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th>Вопрос</th>
                <th>Ответ</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="users, itemStat : ${answersToQuestions.answersToDao}">
                <td th:text="${answersToQuestions.answersToDao[__${itemStat.index}__].getQuestionName()}">

                <td><select th:field="*{answersToDao[__${itemStat.index}__].answerUser}"
                            class="form-control mb-6 col-6">
                    <option th:each="answerDao : ${answersToQuestions.answersToDao[__${itemStat.index}__].answers}"
                            th:value="${answerDao}"
                            th:text="${answerDao}">
                    </option>
                </select>
                <input type="hidden" th:field="*{answersToDao[__${itemStat.index}__].id}"
                       th:value="${answersToQuestions.answersToDao[__${itemStat.index}__].id}">
                <input type="hidden" th:field="*{answersToDao[__${itemStat.index}__].questionName}"
                       th:value="${answersToQuestions.answersToDao[__${itemStat.index}__].questionName}">
                <input type="hidden" th:field="*{answersToDao[__${itemStat.index}__].answers}"
                       th:value="${answersToQuestions.answersToDao[__${itemStat.index}__].answers}">
                <input type="hidden" th:field="*{answersToDao[__${itemStat.index}__].trueQuestion}"
                       th:value="${answersToQuestions.answersToDao[__${itemStat.index}__].trueQuestion}">
                <input type="hidden" th:field="*{answersToDao[__${itemStat.index}__].questionPool}"
                       th:value="${answersToQuestions.answersToDao[__${itemStat.index}__].questionPool}">
                <input type="hidden" th:field="*{answersToDao[__${itemStat.index}__].users}"
                       th:value="${answersToQuestions.answersToDao[__${itemStat.index}__].users}">
                </td>
            </tr>
            </tbody>
        </table>
    </fieldset>
    <input type="submit" id="submitButton" th:value="Ответ" class="btn btn-info col-2">
</form>
    <a th:href="@{/test/take}">назад к списку</a>
</div>
</body>
</html>