<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new question</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 align="center" th:text="${questionPool.getDescription()}"> Добавить список вопросов</h1>

    <hr>

    <form action="#" method="POST" th:action="@{/saveQuestion}" th:object="${question}">
        <input type="hidden" readonly th:field="*{questionPoolId}" th:value="${questionPool.getId()}"
               class="form-control mb-4 col-4">
        <input type="text" th:field="*{questionName}" placeholder="Вопрос" class="form-control mb-4 col-4">
        <input type="text" th:field="*{answerOne}" placeholder="Первый вариант" class="form-control mb-4 col-4">
        <input type="text" th:field="*{answerTwo}" placeholder="Второй вариант" class="form-control mb-4 col-4">
        <input type="text" th:field="*{answerThree}" placeholder="Третий вариант" class="form-control mb-4 col-4">
        <input type="text" th:field="*{answerFour}" placeholder="Четвертый вариант" class="form-control mb-4 col-4">
        <input type="text" th:field="*{trueQuestion}" placeholder="Ответ" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">Добавить вопрос</button>
    </form>

    <hr>
    <a th:href="@{/}">назад к списку</a>
</div>
</body>
</html>